.container{
    padding: 50px;
    display: flex;
}

.item{
    flex: 1;
}

.table{
    width: 100%;
    border-spacing: 1rem;
    text-align: left;
}

.button, .nextStage{
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.nextStage:first-child:disabled{
    border: none;
    background-color: gray;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    cursor:not-allowed;
}
.button:nth-child(2){
    background-color: crimson;
    margin-right: 10px;
}
.button:first-child, .nextStage{
    background-color: teal;
    margin-right: 10px;
}
