.container {
    height: 100px;
    padding: 0px 50px;
    background-color: #d1411e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
}

.item {
    flex: 0.8;
    display: flex;
    align-items: center;
}

.item:nth-child(2){
    flex: 3;
    display: flex;
    justify-content: space-around;
    margin-right: 8rem;
}

.item:last-child{
    width: 200px;
}

.callButton {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    height: 35px;
    width: 35px;
}


.texts {
margin-left: 20px;
color: white;
}

.text:first-child {
 font-size: 12px;
 font-weight: 500;
}

.text:last-child {
    font-size: 30px;
    font-weight: bold;
   }


.list{
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    color:white;
}

.listItem{
    margin: 20px;
    font-weight: 500;
    cursor: pointer;

}


.cart{
    position: relative;
}

.counter{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 1px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #d1411e;
    display: flex;
}


@media screen and (max-width:480px) {

    .item:nth-child(2){
        display: none;
    }
    .item:nth-child(1){
        flex: 3;

    }
    .callButton {
        border-radius: 40%;
    }
    .texts {
        margin-left: 10px;
        color: white;
        }
    .text:last-child {
        font-size: 20px;
        font-weight: bold;
        }
    .item:last-child{
    width: 40px;
}
}