.container{
    padding: 50px;
    display: flex;
}

.left{
    flex: 2;
}

.table{
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.done{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inProgress{
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.undone{
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0.3;
}

.undone .checkedIcon, .inProgress .checkedIcon{
    display: none;
}

#paidIcon{
    margin-top: 0.8rem;
}
.row:last-child{
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
.checkedIcon img{
    border-radius: 50%;
}

.bike{
    border-radius: 50% ;
    box-shadow: 0 0 2px 0 #333;
}


.right{
    flex: 1;
}

.wrapper{
    width: 60%;
    min-height: 300px;
    background-color: #333;
    padding: 50px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border: 1px solid #d1411e;
    border-radius: 50px;
}

.totalTextTitle{
    margin-right: 10px;
    font-size: 20px;
}

.button{
    height: 50px;
    color: white;
    font-weight: bold;
    cursor: not-allowed;
    margin-top: 20px;
    border: 1px solid teal;
    border-radius: 20px;
    transition: 0.3s ease;
}
.button:hover{
    background-color: rgb(68, 68, 68);
    border: 1px solid #ce6e57;
    color: #ce6e57;

}

.button:active{
    background-color: #999;
    border: 1px solid white;
    color: white;
    transform: scale(0.96);
}

.button:disabled{
    background-color: rgb(191, 191, 191);
    border: 1px solid rgb(167, 167, 167);
    color: teal;
}

.button:disabled:active{
    background-color: rgb(112, 112, 112);
    border: 1px solid rgb(148, 148, 148);
    color: teal;
    transform: none;
}


@media screen and (max-width:480px) {
    .container{
        flex-direction: column;
        padding: 10px;
    }

    .table{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .trTitle{
        display: none;
    }
    .tr{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        text-align: center;
    }
    .id::before{
        content: 'Order ID: ';
        font-weight: 500;
    }
    .name::before{
        content: 'Client Name: ';
        font-weight: 500;
    }
    .address::before{
        content: 'Address: ';
        font-weight: 500;
    }
    .total::before{
        content: 'TOTAL: ';
        font-weight: 500;
    }
    .right{
        width: 100%;
        justify-content: center;
    }
    .row:first-child{
        margin-top: 2rem;
    }
    .row:last-child{
        flex-direction: column;
        width: 100%;
        margin-top: 0;
        margin-bottom: 6rem;
    }
    .done, .undone, .inProgress{
        margin: 1rem;
    }
    .right{
        width: 100%;
       display: flex;
       justify-content: center;
    }
}